body{
    background-color: hsl(212, 45%, 89%) ;
}

.qr {
  width: 300px;
  height: 475px;
  background-color: white;
  margin-left: 528.5px;
  margin-top: 75px;
  border-radius:25px;
  justify-content: center;
}
.qr-pic {
  position: relative;
  margin-top:25px;
  border-radius:25px;
  margin-left: 25px;
  height: 250px;
  width: 250px;
}

.qr-title{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    padding: 0 10px 0 10px;
    font-weight: 700;
}

.qr-description{
  text-align: center;
  font-family: 'Outfit', sans-serif;
  color: hsl(220, 15%, 55%);
  font-size:15px;
  font-weight:400;
  padding: 0 25px 0 25px;
}